<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>新着順</h3>
      
        <%= search_form_for @q do |f| %>
          <%= f.label :content_cont, "入力の文字を含む" %>
          <%= f.search_field :content_cont %>
          <%= f.label :genre_cont, "チケットorその他を選んで下さい" %>
          <%= f.select :genre_cont, ["チケット", "その他"] %>
          <%= f.submit %>
        <% end %>
        <% if @microposts.any? %>
        <ol class="microposts">
          <%= render @microposts %>
        </ol>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1>Welcome to the Microposts</h1>

    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
<% end %>