<li>
  <div class="row">
    
  <div class='col-sm-1'>
   <% if comment.user.image? %>
    <%= image_tag( comment.user.image.url, :size => "50x50")  %>
   <% else %>
    <%= link_to gravatar_for(comment.user, size: 50), comment.user %>
   <% end %>   
  </div>
   
    <div class='col-sm-1'>
    <%= link_to comment.user.name, comment.user %>
    </div>
    <div class='col-sm-offset-1 col-sm-6'>
      <%= simple_format(comment.text) %>
    </div>
    <div class='col-sm-3'>
      <%= image_tag comment.image.url, style: "max-width: 100%;" if comment.image? %>
    </div>
  </div>
</li><hr>