<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

<dr>
<div class="well well-lg">
  <div class="field">
    <p>ジャンルの選択</p>
    <%= f.select :genre, ["チケット", "その他"], include_blank: true, placeholder: "ジャンルを選択" %>
  </div>
  
  <div class="field">
    <p>譲るアイテム</p>
    <%= f.text_area :give, placeholder: "あなたが持っているアイテムの詳細を記入してください" %>
  </div>
  
  <div class="field">
    <p>求めるアイテム</p>
    <%= f.text_area :take, placeholder: "交換したいアイテムの詳細を記入してください" %>
  </div>
  
   <div class="field">
    <p>コメント</p>
    <%= f.text_area :content, placeholder: "補足説明や交換方法の希望などを記入してください" %>
  </div>

  <div class="field">
　　<%= f.label :image1 %>
　　<%= image_tag @micropost.image1.thumb.url if @micropost.image1? %>
　　<%= f.file_field :image1 %>
　　<%= f.hidden_field :image1_cache %>
　</div>
  <div class="field">
　　<%= f.label :image2 %>
　　<%= image_tag @micropost.image2.thumb.url if @micropost.image2? %>
　　<%= f.file_field :image2 %>
　　<%= f.hidden_field :image2_cache %>
　</div>
  <div class="field">
　　<%= f.label :image3 %>
　　<%= image_tag @micropost.image3.thumb.url if @micropost.image3? %>
　　<%= f.file_field :image3 %>
　　<%= f.hidden_field :image3_cache %>
　</div>

  <p>※注意※</p>
  <p>・金銭のやり取りはしないでください。トラブル等が発生しても、当サイトは責任を負いかねます。</p>
  <br>
  <%= f.submit "Post", class: "btn btn-primary" %>
</div>

<% end %>